@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');


.new-list{
    position: relative;
    width: 100%;
    height: 2386px;
    background: #F1F1F1;
}

.frame-24{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 100%;
    height: 2386px;
    left: 0px;
    top: 0px;
}

.header-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 160px;
    gap: 752px;

    width: 100%;
    height: 70px;
}

.header-1-logo{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 80%;
    height: 22px;
}

.header-1-logo p{
    width: 1120px;
    height: 22px;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-transform: lowercase;
    color: #000000;
}

.header-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 160px;
    gap: 752px;
    width: 100%;
    height: 180px;
}

.header-2-logo{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 80%;
    height: 120px;

}

.header-2-logo img{
    width: 24px;
    height: 24px;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px 32px;
    gap: 32px;

    width: 100%;
    height: 100px;
}

.frame{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 80%;
    height: 100px;
}

.frame-22{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    gap: 105px;

    width: 608px;
    height: 38px;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

    width: 272px;
    height: 38px;
}

.frame-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;

    width: 608px;
    height: 38px;
}

.frame-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    gap: 8px;

    width: 100%;
    height: 38px;

    border-radius: 100px;
    border: none;
}

.btn-text{
    width: 584px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #081E34;
    opacity: 0.5;
}

.menu-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    gap: 8px;

    width: 272px;
    height: 38px;

    border-radius: 100px;
    border: none;
}

.btn-text2{
    width: 260px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #081E34;
    
}

.news-fill{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 96px 160px 36px;
    gap: 100px;
    width: 100%;
    height: 1718px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 70px;

    width: 100%;
    height: 1586px;
}

.frame-23{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    justify-content: space-between;
    width: 100%;
    height: 64px;
}

.infotop{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

    width: 25%;
    height: 64px;
}

.infotop img{
    width: 64px;
    height: 64px;
    border-radius: 100%;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    width: 243px;
    height: 52px;
}

.author{
    width: 124px;
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin: 0px;
}

.info-info{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: 100%;
    height: 18px;

}

.date{
    width: 36px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    opacity: 0.5;
    margin: 0px;
}

.delimetr{
    width: 12px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #000000;
    opacity: 0.5;
    margin: 0px;
}

.read {
    width: 77px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    opacity: 0.5;
    margin: 0px;
}

.member{
    width: 90px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    opacity: 0.5;
    margin: 0px;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 100px;
    height: 24px;
}

.actions{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 14px;

    width: 100px;
    height: 24px;
}

.icon{
    width: 24px;
    height: 24px;
}

.text-1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 100%;
    height: 98px;
}

.description-1{
    width: 100%x;
    height: 38px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 38px;
    display: flex;
    align-items: center;
    color: #000000;
    margin: 0px;
}

.description-2{
    width: 1120px;
    height: 36px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #000000;
    margin: 0px;

}

#img2{
    width: 100%;
    height: auto;
}

.description-3{
    width: 100%;
    height: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #000000;
}

.description-4{
    width: 100%;
    height: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #000000;
}